<style>
 
	/* Add a dark background color with a little bit see-through */ 
.navbar {
    margin-bottom: 0;
    background-color: #ffffff;
    border: 0;
    font-size: 14px !important;
    letter-spacing: 4px;
    opacity:0.7;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #000000  !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#778899 !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #000 ;
    background-color: #555 !important;
	
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
	font-size: 17px !important;
	
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: cyan !important;

}

#brand-image{
	height: 24px;
}

body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
	
 
 </style>
 