.container {
					padding: 80px 120px;}
				.person {
    border: 10px solid transparent;
     margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}
 .person:hover {
    border-color: #f1f1f1;
}.bg-2 {
      background: #ffffff;
      color: #000000 ;
  }
  .bg-2 h3 {color: #000000 ;}
  .bg-2 p {font-style: italic;} .bg-1 {
      background: #FFFFFF;
  }.logo-small {
      color: #00CED1;
      font-size: 50px;
  }right carousel-control, left carousel-control {
    background-image: none;
    color: #f4511e;
}footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #4169E1;
}.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
     -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
         opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
         opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }	
